.bank-name {

    text-align: center;
    color: blue;
    margin-top: 50px;
    margin-bottom: 10px;
}

/* #login-area {
    background-color: whitesmoke; */
    /* box-shadow: 10px 10px 5px lightblue; */
    /* box-shadow: 10px 10px 5px blue; 



}*/

/* email part */
/* .email-form-control {
    background-color: lightblue;
    padding: 5px 600px 5px 2px;
    margin-bottom: 20px;
} */

/* password  part */
/* .pw-form-control {
    background-color: lightblue;
    padding: 5px 600px 5px 2px;
    margin-bottom: 20px;
} */




/* submit part */
#submit-btn {
    /* background-color: rgb(255, 111, 0); */
    background-color: rgb(255, 183, 0);
    color: white;
    padding: 10px 20px 10px 20px;
    border-radius: 8px;
    margin-bottom: 20px;
}

.successd {
    background-color: greenyellow;
    padding-right: 1000px;
}

#deposit-btn {
    background-color: greenyellow;
}

#withdraw-btn {
    background-color: rgb(255, 183, 0);;
}
.success-with {
    background-color: rgb(255, 183, 0);
}



.success-ba {
    background-color: blue;
}

